@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700;800&family=Space+Grotesk:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  body {
    @apply bg-bg text-text;
    font-family: "Manrope", sans-serif;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Space Grotesk", sans-serif;
  }

  /* Custom Scrollbar for Webkit browsers (Chrome, Safari, Edge) */
  ::-webkit-scrollbar {
    width: 8px; /* width of the scrollbar */
  }

  ::-webkit-scrollbar-track {
    background: #1e1e1e; /* color of the track - surface */
    border-radius: 10px; /* roundness of the track */
  }

  ::-webkit-scrollbar-thumb {
    background: #444444; /* color of the scroll thumb - border color */
    border-radius: 10px; /* roundness of the scroll thumb */
    border: 2px solid #1e1e1e; /* creates padding around scroll thumb - surface */
  }

  /* For Firefox */
  * {
    scrollbar-width: thin; /* "auto" or "thin" */
    scrollbar-color: #444444 #1e1e1e; /* thumb color track color */
  }
}
